<ul>
    <li class="container">
        <span>
            <div class="image-container">
                <img class="image" src="WIP-logo.png" alt="recipe image">
            </div>

            <div class="title">
                <p>{{ recipe.name }}</p>
            </div>

            <div class="review">
                <small>{{recipe.caloricNb}}</small>
                <small>{{recipe.cutleryNb}} </small>
              <table>
                @for (ingredient of recipe.ingredients ;track recipe; let i = $index){
                <tr> {{ingredient}}</tr>
              }
              </table>
            </div>
        </span>
    </li>
</ul>
