<footer class=" bg-[#005756] w-full bottom-0  min-h-full p-2">
  <p class="flex items-center justify-center text-white mb-5 pt-5" > Created by Teo, Leo, Obrayan & Jordan</p>
  <p class="flex items-center justify-center text-white">Tous droits réservés Open Fridge Recipes - 2024 </p>
  <p class="flex items-center justify-center text-white">
    Paramétrer les cookies ● Recrutement ● Mentions légales ● Conditions Générales d'Utilisation ● Conditions Générales d'Abonnement</p>
  <p class="flex items-center justify-center text-white">
     ● Contact ● FAQ ● Politique de confidentialité ● Foire aux questions - Vos choix concernant l'utilisation de cookies</p>
</footer>
