.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: rgb(0 87 86);
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
}

.input {
    background-color: rgb(217, 217, 217, 50%);
    border: 1px solid rgb(0 87 86);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.label {
    margin-left: 20px;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

.button {
    background-color: rgb(0 87 86);
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.link {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}